#!/usr/bin/make -f
# -*- makefile -*-

DIR = ./debian/daemontools


build: patch-stamp Makefile

build-arch: patch-stamp Makefile

build-indep: patch-stamp Makefile


binary: build

binary-arch: build-arch

binary-indep: build-indep


Makefile:
	./makemake

patch: patch-stamp
patch-stamp:
	for i in `ls -1 debian/diff/*.diff || :`; do \
	  patch -p1 <$$i || exit 1; \
	done
	touch patch-stamp

%:
	dh $@

override_dh_install:
	install -d -m 0755 $(DIR)/usr/bin
	grep ^c BIN | cut -f6 -d: | xargs install -m 0755 -t $(DIR)/usr/bin
	install -d -m 0755 $(DIR)/usr/share/man/man8
	grep ^c MAN | cut -f6 -d: | xargs install -m 0644 -t $(DIR)/usr/share/man/man8

